.button-list
{
    width: 100%;
    height: 100px;
    margin: 10px 0 0 0;
    padding: 20px 5px 5px 5px;
    box-shadow: 2px 2px 5px rgba(100,100,100,1);
}
.button-list > button
{
    margin: 5px 25px;
}


body
{
    color: rgba(100,100,100,1);
    background-color: rgba(250,250,250,1);
}

.text-base
{
    color: rgba(200,200,200,1);
}


.hyde
{
    display: none;
}

.show
{
    display: block;
}

.drag-area
{
    text-align: center;
    line-height: 18em;
    width: 400px;
    height: 300px;
    border: solid 1px rgba(150,150,150,1);
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(200,200,200,1);
    margin: 100px 25px 30px 25px;
}
.drag-area > h3
{
    padding-top: 30%;
}

.margin {
    margin: 5px;
}


.token-input {
    height: 45svh;
}

.token-input > div {
    margin-top: 25%;
}

.token-caution {
    text-align: center;
    color: rgba(150,150,150,1);
    font-weight: bold;
}